:root {
  --white: #fff;
  --black: #000;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-hover: #ea7600;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

*:not(ul, li) {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 1.6em;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
.subtitle {
  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.subtitle {
  font-size: 24px;
}

p {
  color: var(--dark);
}

a {
  text-decoration: none;
}

header,
section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px 0;
}

.basic-color {
  color: var(--basic);
}

.white-color {
  color: var(--white);
}

.transparent-dark {
  color: var(--transparent-dark);
}

.transparent-white {
  color: var(--transparent-white);
}

.brown-color {
  color: var(--brown);
}

.tr-color {
  transition: color 0.3s;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.bg-white {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.btn {
  padding: 12px 24px;
  background: var(--basic);
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-text {
  display: block;
  width: 148px;
  height: 49px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
}

.btn-submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 50px;
}

.btn-submit::before {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  content: "";
}

.btn:hover {
  background: var(--basic-hover);
}

.text-block {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.text-block-col {
  width: calc(50% - 15px);
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-116 {
  padding-bottom: 116px;
}

.home {
  min-height: 910px;
  overflow-x: hidden;
}

.home-header {
  position: relative;
  height: 458.4px;
}

.home-header h1 {
  position: relative;
  z-index: 2;
}

.home-img {
  position: absolute;
  top: -45px;
  right: -270px;
  width: auto;
  height: 525px;
}

.video {
  z-index: 2;
  margin-bottom: -176px;
}

.video-header {
  text-align: center;
}

.video iframe {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation {
  padding-top: 200px;
  background: var(--basic-dark);
}

.navigation-body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: space-between;
}

.navigation-item {
  width: 100%;
  max-width: 350px;
}

.navigation-title {
  font-size: 52px;
}

.navigation-number {
  color: var(--basic-dark);
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.mh-323 {
  min-height: 323px;
  max-height: 323px;
}

.post-header {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.post-header  {
  box-shadow: 0 16px 32px 0 rgb(0 0 0 / 15%);
}

.post-text {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 120%;
}

.post-title {
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
}

.post-title-white {
  background: var(--white);
}

.post-title-brown {
  background: var(--brown);
}

.footer {
  padding: 100px 0;
}

.footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 78px;
  padding: 40px 55px;
  background: var(--basic-dark);
}

.footer-text {
  color: var(--black);
  font-size: 14px;
  line-height: 160%;
  text-align: center;
}

.footer-text a {
  color: var(--blue);
  text-decoration: underline;
}

.form {
  width: auto;
}

.form label {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 160%;
}

.form div {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 2px;
}

.form input {
  width: 423px;
  height: 50px;
  padding: 15px;
  background: var(--white);
  border: 1px solid #e3e3e3;
}

.form input::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 13.1px;
  font-style: normal;
  line-height: 160%;
}

.form p {
  font-size: 12px;
  line-height: 160%;
}

.form p a {
  color: inherit;
  text-decoration: underline;
}

.navigation-item:not(.navigation-item-not-bg) {
  padding: 24px;
  background: var(--light);
  transition: background 0.3s, color 0.3s;
}

.navigation-item:not(.navigation-item-not-bg):hover {
  background: var(--basic);
}

.navigation-item:not(.navigation-item-not-bg):hover > div,
.navigation-item:not(.navigation-item-not-bg):hover > h3,
.navigation-item:not(.navigation-item-not-bg):hover > p {
  color: var(--white);
}