/** GLOBAL VARIABLES **/

:root {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --brown: #b09a81;
  --cyan: #1085c5;
  --btn-hover: #ea7600;
  --black: #000;
  --font-large: 34px;
  --font-medium: 24px;
  --font-above-normal: 18px;
  --font-normal: 16px;
  --font-small: 14px;
  --font-tiny: 12px;
  --header-large: 72px;
  --header-medium: 60px;
  --header-small: 34px;
  --header-tiny: 14px;
}

/** COLORS **/

.color-white {
  color: var(--white);
}

.color-semitransparent-white {
  color: var(--semitransparent-white);
}

.color-light {
  color: var(--light);
}

.color-main {
  color: var(--main);
}

.color-main-dark {
  color: var(--main-dark);
}

.color-dark {
  color: var(--dark);
}

.color-semitransparent-dark {
  color: var(--semitransparent-dark);
}

.color-brown {
  color: var(--brown);
}

.color-cyan {
  color: var(--cyan);
}

.color-black {
  color: var(--black);
}

/** BACKGROUND **/

.bg-img::before {
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-plain-light {
  background-color: var(--light);
}

.bg-plain-white {
  background-color: var(--white);
}

.bg-plain-main-dark {
  background-color: var(--main-dark);
}

.bg-plain-brown {
  background-color: var(--brown);
}

.bg-plain-main {
  background-color: var(--main);
}

/** FONTS **/

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: var(--font-normal);
  font-weight: 400;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;

  color: var(--main);
}

h1 {
  font-size: var(--header-large);
}

h2 {
  font-size: var(--header-medium);
}

h3 {
  font-size: var(--header-small);
}

h6 {
  padding: 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: var(--header-tiny);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}

/** INDENTATIONS **/

.m-0 {
  margin: 0;
}

.mtp-0 {
  margin-top: 0;
}

.mtp-10 {
  margin-top: 10px;
}

.mtp-30 {
  margin-top: 30px;
}

.mtp-60 {
  margin-top: 60px;
}

.mtp-100 {
  margin-top: 100px;
}

.mbm-20 {
  margin-bottom: 20px;
}

.mbm-30 {
  margin-bottom: 30px;
}

.mltn-23 {
  margin-left: -23px;
}

.margin-15 {
  margin: 15px;
}

.margin-55 {
  margin: 55px -55px 55px 55px;
}

.plt-23 {
  padding-left: 23px;
}

.plt-30 {
  padding-left: 30px;
}

.height-50 {
  height: 50px;
}

.width-70 {
  width: 70px;
}

.width-423 {
  width: 423px;
}

.align-center {
  display: flex;
  align-items: center;
}

/** ELEMENTS **/

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  position: relative;
  overflow-x: hidden;
}

.relative {
  position: relative;
}

input {
  padding: 0 0 0 15px;
  border: 0;
  outline: none;
}

.no-decoration {
  text-decoration: none;
}

/** IMAGES **/

.header-img {
  position: absolute;
  right: -270px;
  top: 55px;
  height: 525px;
}

.section-img {
  position: relative;
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.send-img::before {
  content: "";
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;

  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/** TEXT **/

.columns-2 {
  display: flex;
  flex-shrink: 0;
  gap: 30px;
}

.flex-column {
  width: 50%;
}

.text-center {
  text-align: center;
}

.header-text-margin {
  margin-bottom: 40px;
}

.section-text-lg {
  font-family: Neucha, sans-serif;
  font-size: var(--font-large);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

.text-tiny {
  font-size: 12px;
}

.text-small {
  font-size: 14px;
}

.text-above-normal {
  font-size: var(--font-above-normal);
}

.placeholder {
  color: #757575;
  font-size: 13.1px;
}

/** HEADERS **/

.header-header {
  margin-bottom: 185px;
}

.video-header {
  margin-bottom: 30px;
  text-align: center;
}

.pseudo-header {
  font-family: Neucha, sans-serif;
  font-size: var(--font-medium);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

/** BUTTONS **/

.btn-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main);
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 24px;
}

.btn-header:hover {
  background-color: var(--btn-hover);
}

.btn-footer {
  position: absolute;
  top: 76px;
  right: 55px;
  border: 0;
  outline: none;
}

.btn-footer:hover {
  background-color: var(--btn-hover);
}

/** VIDEO **/

.video {
  position: relative;
  left: 96px;
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/** NAVIGATION **/

.nav-top-1-row {
  margin-top: 100px;
}

.nav-top-2-row {
  margin-top: 20px;
}

.nav-header-width {
  flex: 0 0 350px;
}

.nav-card-width {
  flex: 0 0 302px;
}

.nav-card-height-1-row {
  height: 323px;
}

.nav-card-height-2-row {
  height: 348px;
}

.nav-section {
  display: flex;
  column-gap: 30px;
}

.nav-header {
  margin: 0;
  padding: 0;
  font-size: 52px;
}

.nav-card {
  background-color: var(--light);
  padding: 24px;
}

.nav-card a {
  text-decoration: none;
  color: var(--dark);
}

.nav-card h3 {
  color: var(--main);
}

.nav-card:hover {
  background-color: var(--main);
}

.nav-card:hover a {
  color: var(--white);
}

.nav-card:hover h3 {
  color: var(--white);
}

.nav-number {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}