@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url('../fonts/Neucha-Regular.ttf');
}

:root {
  --main-background: #ccc;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #ea7600;
  --maindark: #42413c;
  --dark: #2a2626;
  --translucen-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  height: 100%;
  margin: 0;

  font: 16px/1.6em "Open Sans", sans-serif;
  color: var(--dark);
}

.background {
  position: relative;

  background-color: var(--light);

  overflow: hidden;
}

.background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("./../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.content {
  position: relative;

  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;
}

h1,
h2,
h3 {
  margin: 0;

  line-height: 1.2em;
  font-family: Neucha, serif;
  font-weight: 400;
  color: var(--main);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin-bottom: 0;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.center {
  text-align: center;
}

.dark {
  color: var(--dark);
}

.white {
  color: var(--white);
}

.pd-top-100 {
  padding-top: 100px;
}

.pd-55 {
  padding: 55px;
}

.pd-right-55 {
  padding-right: 55px;
}

.mg-top-60 {
  margin-top: 60px;
}

.mg-top-0 {
  margin-top: 0;
}

.mg-bottom-9 {
  margin-bottom: 9px;
}

.bg-dark {
  background-color: var(--maindark);
}

.bg-brown {
  background-color: var(--brown);
}

/* Header */
.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: 1;

  height: 525px;
}

.main-title {
  position: relative;
  z-index: 2;

  margin-bottom: 185px;
}

/* Header - end */

/* Основной Flex */
.flex {
  display: flex;
  gap: 30px;
}

.column > div {
  flex-basis: 50%;
}

/* Основной Flex - end */

/* Стили кнопок */
.button {
  font-weight: bold;

  color: var(--white);
  background: var(--main);

  text-decoration: none;
}

.button:hover {
  background: var(--dark-main);
}

.main-link {
  display: inline-block;

  margin-top: 40px;
  margin-left: 570px;
  padding: 12px 24px;
}

.button-email {
  position: relative;
  flex-shrink: 0;

  width: 70px;
  height: 50px;
  padding: 0;
  border: 0;
}

.button-email::before {
  position: absolute;
  top: 13px;
  left: 23px;

  width: 24px;
  height: 24px;

  background-image: url("./../images/send.svg");
  background-size: cover;

  content: "";
}

/* Стили кнопок - end */

.artical-video {
  margin-bottom: -200px;
}

.video-desription {
  margin: 30px 0;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.flex-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.flex-nav > * {
  box-sizing: border-box;
  width: 350px;
  padding: 24px;
  background: var(--light);
}

.nav-item-title {
  padding: 0;
  background-color: transparent;
  font-size: 52px;
}

.num {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
  font-family: Neucha, serif;
}

.text-nav {
  padding-top: 16px;
}

.theme {
  margin: 0;
  color: var(--translucen-dark);
  font: 24px/1.2 Neucha, serif;
}

.light.theme {
  color: var(--translucent-white);
}

.section-description {
  font-size: 34px;
  margin-top: 30px;
  line-height: 1.2em;
  font-family: Neucha, serif;
}

.columns-title {
  line-height: 1.2em;
  color: var(--white);
  background: var(--brown);
  padding: 5px 10px;
  margin-top: 100px;
  margin-bottom: 4px;
}

.light.columns-title {
  color: var(--brown);
  background: var(--white);
}

section:nth-child(2n) {
  color: var(--white);
}

.flex-footer {
  align-items: center;
  justify-content: space-between;
}

.flex-email {
  display: flex;
  justify-content: space-between;
}

.input-email {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  flex-grow: 1;
  border: 0;
  padding: 15px;
}
